<div class="info-label">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="total-description">
          <span class="badge badge-primary">{{total}}</span> {{totalMessage}}s
        </div>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-light">All</button>
        <button type="button" class="btn btn-sm btn-light">Active</button>
        <button type="button" class="btn btn-sm btn-light">Completed</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="bbtn btn-sm btn-light btn-clear">Clear Completed</button>
      </div>
    </div>
  </div>
</div>
