<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    checked={{item.isCompleted}}
    onclick={{action (mut item.isCompleted) value="target.checked"}}>
  <label class="form-check-label {{if item.isCompleted "checked" "unChecked"}}" for="defaultCheck1">
    {{item.content}}
  </label>
</div>
