
@import "ember-cli-bootstrap-4/bootstrap";
.checked{
  color: #d9d9d9;
  text-decoration: line-through;
}

.hidden{
  display:none;
}

.todo-app{
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-title{
  margin-top: 10%;
}


.todo-list{
  list-style: none;
  padding-left: 0;

  .todo-list__item {
    height: 50px;

    .form-check {
      height: 50px;
    }

    .form-check-input {
      margin-top: 10px;
    }

    .form-check,
    .form-check-label {
      line-height: 34px;
    }
  }

}
