
@import "ember-cli-bootstrap-4/bootstrap";
.checked{
  color: #d9d9d9;
  text-decoration: line-through;
}

.hidden{
  display:none;
}

.todo-app{
  width: 70%;
  margin: 30px auto 0px auto;
}

.main-title{
  margin-top: 10%;
}

.todo-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  .todo-list__item {
    height: 40px;
    border: 1px rgb(206, 212, 218) solid;
    background-color: #e9ecef;

    .form-check {
      height: 40px;
      margin-left: 10px;
    }

    .form-check-input {
      margin-top: 10px;
    }

    .form-check,
    .form-check-label {
      line-height: 34px;
    }
  }

}



.info-label{
  border: 1px rgb(206, 212, 218) solid;
  background-color: #e9ecef;

  .total-description{
    margin-top: 10px;
    font-size: 12px;
  }

  .btn-clear{
    font-size: 10px;
  }

}
